In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
df = pd.read_csv('ofertas_relampago.csv')
df.head(5)

,OFFER_START_DATE,OFFER_START_DTTM,OFFER_FINISH_DTTM,OFFER_TYPE,INVOLVED_STOCK,REMAINING_STOCK_AFTER_END,SOLD_AMOUNT,SOLD_QUANTITY,ORIGIN,SHIPPING_PAYMENT_TYPE,DOM_DOMAIN_AGG1,VERTICAL,DOMAIN_ID
0,2021-06-22,2021-06-22 16:00:00+00:00,2021-06-22 23:02:43+00:00,lightning_deal,4,-2,4.72,6.0,A,none,PETS FOOD,CPG,MLM-BIRD_FOODS
1,2021-06-22,2021-06-22 13:00:00+00:00,2021-06-22 19:00:02+00:00,lightning_deal,5,5,NaN,NaN,NaN,free_shipping,PET PRODUCTS,OTHERS,MLM-ANIMAL_AND_PET_PRODUCTS
2,2021-06-22,2021-06-22 07:00:00+00:00,2021-06-22 13:00:01+00:00,lightning_deal,15,12,10.73,3.0,NaN,none,COMPUTERS,CE,MLM-SPEAKERS
3,2021-06-22,2021-06-22 19:00:00+00:00,2021-06-23 01:36:12+00:00,lightning_deal,15,13,7.03,2.0,NaN,none,COMPUTERS,CE,MLM-HEADPHONES
4,2021-06-22,2021-06-22 13:00:00+00:00,2021-06-22 15:48:12+00:00,lightning_deal,15,0,39.65,15.0,NaN,none,COMPUTERS,CE,MLM-HEADPHONES

In [4]:
df.info()
n = df.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48746 entries, 0 to 48745
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   OFFER_START_DATE           48746 non-null  object
 1   OFFER_START_DTTM           48746 non-null  object
 2   OFFER_FINISH_DTTM          48746 non-null  object
 3   OFFER_TYPE                 48746 non-null  object
 4   INVOLVED_STOCK             48746 non-null  int64
 5   REMAINING_STOCK_AFTER_END  48746 non-null  int64
 6   SOLD_AMOUNT                24579 non-null  float64
 7   SOLD_QUANTITY              24579 non-null  float64
 8   ORIGIN                     11316 non-null  object
 9   SHIPPING_PAYMENT_TYPE      48746 non-null  object
 10  DOM_DOMAIN_AGG1            48746 non-null  object
 11  VERTICAL                   48746 non-null  object
 12  DOMAIN_ID                  48746 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 4.8+ MB

In [5]:
df.isna().sum()*100/n

OFFER_START_DATE              0.000000
OFFER_START_DTTM              0.000000
OFFER_FINISH_DTTM             0.000000
OFFER_TYPE                    0.000000
INVOLVED_STOCK                0.000000
REMAINING_STOCK_AFTER_END     0.000000
SOLD_AMOUNT                  49.577401
SOLD_QUANTITY                49.577401
ORIGIN                       76.785788
SHIPPING_PAYMENT_TYPE         0.000000
DOM_DOMAIN_AGG1               0.000000
VERTICAL                      0.000000
DOMAIN_ID                     0.000000
dtype: float64

In [6]:
print(df['OFFER_TYPE'].unique())

['lightning_deal']

In [7]:
print(df['ORIGIN'].value_counts())

ORIGIN
A    11316
Name: count, dtype: int64

In [18]:
print(round(df['SHIPPING_PAYMENT_TYPE'].value_counts(normalize=True)*100,0))

SHIPPING_PAYMENT_TYPE
free_shipping    55.0
none             45.0
Name: proportion, dtype: float64

In [17]:
print(round(df['DOM_DOMAIN_AGG1'].value_counts(normalize=True)*100,0))

DOM_DOMAIN_AGG1
HOME&DECOR                      14.0
APPAREL ACCESORIES               9.0
APPAREL                          8.0
COMPUTERS                        8.0
SPORTS                           7.0
PHARMACEUTICS                    6.0
ELECTRONICS                      6.0
PERSONAL CARE                    6.0
MOBILE                           4.0
AUTOPARTS                        3.0
FOOTWEAR                         3.0
TOOLS AND CONSTRUCTION           3.0
TOYS AND GAMES                   3.0
STATIONARY                       3.0
INDUSTRY                         2.0
BEAUTY EQUIPMENT                 2.0
FOODS                            2.0
PERSONAL HYGIENE                 2.0
BABY                             2.0
MOTOPARTS                        1.0
BOOKS, MULTIMEDIA & OTHER E!     1.0
PETS FOOD                        1.0
PARTY                            1.0
CLEANING                         1.0
SECURITY                         1.0
PET PRODUCTS                     1.0
SUPLEMENTS                       0.0
BATTERIES                        0.0
VEHICULAR MULTIMEDIA             0.0
ACC TOOLS                        0.0
DRINKS                           0.0
WHEELS & TIRES                   0.0
MUSICAL INSTRUMENTS              0.0
OTHER                            0.0
ANTIQUES & HOBBIES               0.0
AGRO                             0.0
Name: proportion, dtype: float64

In [16]:
print(round(df['VERTICAL'].value_counts(normalize=True)*100,0))

VERTICAL
APP & SPORTS       27.0
HOME & INDUSTRY    23.0
CE                 18.0
BEAUTY & HEALTH    15.0
CPG                 6.0
T & B               5.0
ACC                 5.0
ENTERTAINMENT       1.0
OTHERS              1.0
Name: proportion, dtype: float64

In [19]:
print(round(df['DOMAIN_ID'].value_counts(normalize=True)*100,0))

DOMAIN_ID
MLM-SURGICAL_AND_INDUSTRIAL_MASKS    4.0
MLM-HEADPHONES                       2.0
MLM-LED_STRIPS                       1.0
MLM-SUNGLASSES                       1.0
MLM-VEHICLE_LED_BULBS                1.0
                                    ...
MLM-HOOD_HINGES                      0.0
MLM-ENGINE_OIL_PRESSURE_SENSORS      0.0
MLM-CELLPHONES_AND_TELEPHONY         0.0
MLM-BLEACHES                         0.0
MLM-HAMBURGER_PRESSES                0.0
Name: proportion, Length: 1266, dtype: float64

In [87]:
df['SOLD_QUANTITY'][df['INVOLVED_STOCK']==df['REMAINING_STOCK_AFTER_END']].isna()

1         True
5         True
6         True
11        True
15        True
         ...
48738     True
48739     True
48740    False
48742     True
48745     True
Name: SOLD_QUANTITY, Length: 23792, dtype: bool

In [88]:
df.iloc[48740]

OFFER_START_DATE                            2021-06-19
OFFER_START_DTTM             2021-06-19 07:00:00+00:00
OFFER_FINISH_DTTM            2021-06-19 13:00:02+00:00
OFFER_TYPE                              lightning_deal
INVOLVED_STOCK                                      15
REMAINING_STOCK_AFTER_END                           15
SOLD_AMOUNT                                      21.23
SOLD_QUANTITY                                      2.0
ORIGIN                                             NaN
SHIPPING_PAYMENT_TYPE                    free_shipping
DOM_DOMAIN_AGG1                             HOME&DECOR
VERTICAL                               HOME & INDUSTRY
DOMAIN_ID                         MLM-CHRISTMAS_LIGHTS
Name: 48740, dtype: object

In [20]:
print((1-df['SOLD_QUANTITY'][df['INVOLVED_STOCK']==df['REMAINING_STOCK_AFTER_END']].isna()).sum())
# SOLD_QUANTITY no es NaN incluso cuando INVOLVED_STOCK == REMAINING_STOCK_AFTER_END
sum((1-df['SOLD_QUANTITY'][df['INVOLVED_STOCK']==df['REMAINING_STOCK_AFTER_END']].isna())*(1-df['SOLD_AMOUNT'][df['INVOLVED_STOCK']==df['REMAINING_STOCK_AFTER_END']].isna()))
# SOLD_QUANTITY y SOLD_AMOUNT no son NaN cuando INVOLVED_STOCK == REMAINING_STOCK_AFTER_END
# 213 registros no vac√≠os cuando INVOLVED_STOCK == REMAINING_STOCK_AFTER_END

213

213

In [22]:
df['QUANTITY_SOLD_RECODED'] = df['INVOLVED_STOCK'] - df['REMAINING_STOCK_AFTER_END']

In [23]:
df.groupby(['VERTICAL','DOM_DOMAIN_AGG1'])['QUANTITY_SOLD_RECODED'].sum()

VERTICAL         DOM_DOMAIN_AGG1
ACC              ACC TOOLS                         164
                 AGRO                                0
                 AUTOPARTS                        3878
                 MOTOPARTS                         793
                 VEHICULAR MULTIMEDIA              302
                 WHEELS & TIRES                     32
APP & SPORTS     APPAREL                          7223
                 APPAREL ACCESORIES               7169
                 FOOTWEAR                         2085
                 SPORTS                           7613
                 SUPLEMENTS                        413
BEAUTY & HEALTH  BEAUTY EQUIPMENT                23347
                 PERSONAL CARE                    6105
                 PHARMACEUTICS                   94993
CE               COMPUTERS                       13169
                 ELECTRONICS                      6235
                 MOBILE                           6424
CPG              BATTERIES                         181
                 CLEANING                         1197
                 DRINKS                            120
                 FOODS                            1241
                 PERSONAL HYGIENE                 1682
                 PETS FOOD                        1565
ENTERTAINMENT    BOOKS, MULTIMEDIA & OTHER E!      332
                 MUSICAL INSTRUMENTS                34
HOME & INDUSTRY  HOME&DECOR                      18211
                 INDUSTRY                         2814
                 SECURITY                         1151
                 STATIONARY                       2161
                 TOOLS AND CONSTRUCTION           2919
OTHERS           ANTIQUES & HOBBIES                 10
                 OTHER                              33
                 PET PRODUCTS                      310
T & B            BABY                              706
                 PARTY                             488
                 TOYS AND GAMES                   1444
Name: QUANTITY_SOLD_RECODED, dtype: int64

In [24]:
n_hours = (pd.to_datetime(df['OFFER_FINISH_DTTM']) - pd.to_datetime(df['OFFER_START_DTTM'])).dt.total_seconds()/3600
df['DURATION'] = round(n_hours,0).astype(int)
print(df['DURATION'])

0        7
1        6
2        6
3        7
4        3
        ..
48741    6
48742    6
48743    6
48744    6
48745    6
Name: DURATION, Length: 48746, dtype: int64

In [33]:
print(df['DURATION'].value_counts().sort_index())

DURATION
0       3947
1        382
2        588
3        724
4        883
5       1373
6      30551
7       2381
8       7668
9         65
10         3
11         2
12       174
15         3
16         1
105        1
Name: count, dtype: int64

In [34]:
print(round(df['DURATION'].value_counts(normalize=True)*100,0).sort_index())

DURATION
0       8.0
1       1.0
2       1.0
3       1.0
4       2.0
5       3.0
6      63.0
7       5.0
8      16.0
9       0.0
10      0.0
11      0.0
12      0.0
15      0.0
16      0.0
105     0.0
Name: proportion, dtype: float64

In [41]:
df.groupby(['DURATION'])['QUANTITY_SOLD_RECODED'].sum()

DURATION
0        851
1       4213
2       7105
3       9554
4      13264
5      26586
6      57202
7      40852
8      56499
9         91
10        37
11         1
12       282
15         7
16         0
105        0
Name: QUANTITY_SOLD_RECODED, dtype: int64

round(df.groupby(['DURATION'])['QUANTITY_SOLD_RECODED'].sum()*100/df['QUANTITY_SOLD_RECODED'].sum(),0)

In [43]:
df['DATE'] = pd.to_datetime(df['OFFER_START_DATE'])
df['DAY_NAME'] = df['DATE'].dt.day_name()
round(df.groupby(['DAY_NAME'])['QUANTITY_SOLD_RECODED'].sum()*100/df['QUANTITY_SOLD_RECODED'].sum(),0)

DAY_NAME
Friday       15.0
Monday       16.0
Saturday     12.0
Sunday        8.0
Thursday     15.0
Tuesday      18.0
Wednesday    16.0
Name: QUANTITY_SOLD_RECODED, dtype: float64

In [80]:
group_sums = df.groupby('DAY_NAME')['QUANTITY_SOLD_RECODED'].sum()

x = df.groupby(['DAY_NAME','VERTICAL'])['QUANTITY_SOLD_RECODED'].sum()/group_sums
#pd.set_option('display.max_rows', None)

print(round(x*100,0))

DAY_NAME   VERTICAL
Friday     ACC                 2.0
           APP & SPORTS       12.0
           BEAUTY & HEALTH    58.0
           CE                 12.0
           CPG                 1.0
           ENTERTAINMENT       0.0
           HOME & INDUSTRY    13.0
           OTHERS              0.0
           T & B               1.0
Monday     ACC                 2.0
           APP & SPORTS        8.0
           BEAUTY & HEALTH    65.0
           CE                 10.0
           CPG                 3.0
           ENTERTAINMENT       0.0
           HOME & INDUSTRY    11.0
           OTHERS              0.0
           T & B               1.0
Saturday   ACC                 2.0
           APP & SPORTS       15.0
           BEAUTY & HEALTH    50.0
           CE                 14.0
           CPG                 3.0
           ENTERTAINMENT       0.0
           HOME & INDUSTRY    14.0
           OTHERS              0.0
           T & B               1.0
Sunday     ACC                 3.0
           APP & SPORTS       17.0
           BEAUTY & HEALTH    45.0
           CE                 15.0
           CPG                 3.0
           ENTERTAINMENT       0.0
           HOME & INDUSTRY    15.0
           OTHERS              0.0
           T & B               2.0
Thursday   ACC                 3.0
           APP & SPORTS       12.0
           BEAUTY & HEALTH    54.0
           CE                 13.0
           CPG                 2.0
           ENTERTAINMENT       0.0
           HOME & INDUSTRY    14.0
           OTHERS              0.0
           T & B               1.0
Tuesday    ACC                 2.0
           APP & SPORTS       10.0
           BEAUTY & HEALTH    61.0
           CE                 10.0
           CPG                 3.0
           ENTERTAINMENT       0.0
           HOME & INDUSTRY    12.0
           OTHERS              0.0
           T & B               1.0
Wednesday  ACC                 2.0
           APP & SPORTS       10.0
           BEAUTY & HEALTH    60.0
           CE                 11.0
           CPG                 4.0
           ENTERTAINMENT       0.0
           HOME & INDUSTRY    11.0
           OTHERS              0.0
           T & B               1.0
Name: QUANTITY_SOLD_RECODED, dtype: float64

In [95]:
root = os.getcwd()
train_file = root + '/clean_items_titles.csv'
test_file = root + '/clean_items_titles_test.csv'
train_file = train_file.replace("\\", "/")
test_file = test_file.replace("\\", "/")
print(train_file)
print(test_file)

C:/Users/jairo/Desktop/ML/P1/clean_items_titles.csv
C:/Users/jairo/Desktop/ML/P1/clean_items_titles_test.csv